---
import { menuLinks, siteConfig } from "@/site.config";

const year = new Date().getFullYear();
---

<footer
	class="mt-auto flex w-full flex-col items-center justify-center gap-y-2 pt-8 pb-4 bg-red-600 text-white text-center font-semibold sm:flex-row sm:justify-between sm:text-sm"
>
	<div class="me-0 sm:me-4">
		&copy; {year} {siteConfig.author} | {siteConfig.title}
	</div>
	<nav
		aria-labelledby="footer_links"
		class="flex gap-x-2 sm:gap-x-0 sm:divide-x sm:divide-white/20"
	>
		<p id="footer_links" class="sr-only">More on this site</p>
		{
			menuLinks.map((link) => (
				<a class="px-4 py-2 text-white/90 hover:text-white hover:bg-red-500 sm:py-0 sm:text-sm sm:font-medium" href={link.path}>
					{link.title}
				</a>
			))
		}
	</nav>
</footer>